* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    height: 100vh;
    background-color: rgb(18, 88, 150);
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-wrapper {
    height: 60vh;
    width: 70vw;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1rem;

    h1 {
        width: 85%;
        font-size: 2.75rem;
        text-align: center;
        border-bottom: 1px solid rgb(24, 87, 164);
        margin-bottom: 15px;
    }

    .reviews {
        width: 85%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 170px;
            height: 170px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 15px;
        }
        h2 {
            font-size: 2rem;
        }
        h3 {
            font-weight: 500;
            margin-bottom: 15px;
            color: rgb(24, 87, 164);
        }
    }
}

.switch-review {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(24, 87, 164);

    button {
        font-size: 0.9rem;
        font-weight: 600;
        margin: 15px;
        padding: 5px 15px;
        border-radius: 10px;
        cursor: pointer;
        border: 2px solid rgba(18, 88, 150, 0.535);
        background-color: rgba(18, 88, 150, 0.188);
        transition: all 0.2s ease-in;
        &:hover {
            background-color: aliceblue;
            transform: scale(1.1);
        }
    }
}
